<div class='row'>
  <div class='col-md-12'>
    <h1 class='page-title'>Edit List Schedule</h1>
  </div>
</div>
<div class='form-group'>
  <%= list_edit_navbar_group(@list, active: :schedule) %>
</div>

<%= form_for @list, url: update_schedule_list_path(@list), method: :patch do |form| %>
  <div class='card'>
    <div class='card-header'>
      <h6>Current List Schedule</h6>
    </div>
    <div class='card-body'>
      <div class='row'>
        <% @list.day_delivery_values.each_with_index do |(_, value), week_day| %>
        <div class='col-sm'>
          <h3 class='text-center'><%= day_of_week_label(I18n.t('date.day_names')[week_day], value) %></h3>
        </div>
        <% end %>
      </div>
      <div class='row'>
        <% @list.day_delivery_values.each_with_index do |(attribute_name, value), week_day| %>
        <div class='col-sm'>
          <%= form.select attribute_name, options_for_select(@schedule_dropdown_options, selected: value), {}, class: 'form-control' %>
        </div>
        <% end %>
      </div>
    </div>
    <div class='card-footer d-flex justify-content-between'>
      <button class='btn btn-primary' type='submit' data-disable-with="<%= t('basic.forms.creating') %>">
        <%= t('basic.forms.submit_save') %>
      </button>
    </div>
  </div>
<% end %>