<div class='row'>
  <div class='col-md-12'>
    <h1 class='page-title'>Edit List</h1>
  </div>
</div>

<div class='form-group'>
  <%= list_edit_navbar_group(@list, active: :lists) %>
</div>

<%= form_for @list do |form| %>
<div class='row'>
  <div class='col-md-8'>
    <div class='card'>
      <div class='card-header'>
        <h6>List info</h6>
      </div>
      <div class='card-body'>
        <fieldset>
          <legend> <label class='control-label'>Configuration</label> </legend>
          <div class='form-group'>
            <%= form.label :credits_on, class: 'col-form-label control-label' %>
            <div class='div-form-check'>
              <label>
                <%= form.check_box :credits_on, {class: 'form-check-input form-list-check'} %>
                <small class='form-text text-muted align-text-bottom'><%= t(:credits_on_message, scope: 'lists.new') %></small>
              </label>
            </div>
            
          </div>
          <div class='form-group'>
            <%= form.label :sms_only, class: 'col-form-label control-label' %>
            <div class='div-form-check'>
              <label>
                <%= form.check_box :sms_only, {class: 'form-check-input form-list-check'} %>
                <small class='form-text text-muted align-text-bottom'><%= t(:sms_only_message, scope: 'lists.new') %></small>
              </label>
            </div>
          </div>
          <div class='form-group'>
            <%= form.label :use_pre_generation, class: 'col-form-label control-label' %>
            <div class='div-form-check'>
              <label>
                <%= form.check_box :use_pre_generation, {class: 'form-check-input form-list-check'} %>
                <small class='form-text text-muted align-text-bottom'><%= t(:use_pre_generation_message, scope: 'lists.new') %></small>
              </label>
            </div>
          </div>
          <div class='form-group'>
            <%= form.label :ad_server_creatives_limit, class: 'col-form-label control-label' %>
            <%= form.number_field :ad_server_creatives_limit, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= form.label :enable_reengage, class: 'col-form-label control-label' %>
            <div class='form-check'>
              <div class='div-form-check'>
                <label>
                  <%= form.check_box :enable_reengage, {class: 'form-check-input form-list-check'} %>
                  <span class='font-weight-bold'><%= t(:enable_reengage_message, scope: 'lists.new') %></span>
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend> <label class='control-label'>List Information</label> </legend>
          <div class='form-group'>
            <%= form.label :status, class: 'col-form-label control-label' %>
            <%= form.select :status, @statuses.keys.to_a, {prompt: true}, class: 'form-control mb-3 mr-sm-3' %>
          </div>
          <div class='form-group'>
            <%= form.label :slug, class: 'col-form-label control-label' %>
            <%= form.text_field :slug, class: 'form-control mb-3 mr-sm-3' %>
          </div>
          <div class='form-group'>
            <%= form.label :name, class: 'col-form-label control-label' %>
            <%= form.text_field :name, class: 'form-control mb-3 mr-sm-3' %>
          </div>
          <div class='form-group'>
            <%= form.label :landing_title_color, class: 'col-form-label control-label' %>
            <%= form.color_field :landing_title_color, class: 'form-control ' %>
          </div>
        </fieldset>
      </div>
      <div class='card-footer d-flex justify-content-between'>
        <button class='btn btn-primary' type='submit' data-disable-with="<%= t('basic.forms.updating') %>">
          <%= t('basic.forms.submit_update') %>
        </button>
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='card'>
      <div class='card-header'>
        <h6>Status</h6>
      </div>
      <div class='card-body text-center text-uppercase'>
        <h2><strong><%= object_status_label(@list) %></strong></h2>
      </div>
    </div>
    <div class='card'>
      <div class='card-header'>
        <h6>Tags</h6>
      </div>
      <div class='card-body'>
        <%= form.collection_check_boxes(:tag_ids, @tags, :id, :name) do |b| %>
          <div class='form-group'>
            <div class='col-sm-12'>
              <div class='form-check icheckbox'>
                <%= b.check_box class: 'form-check-input form-list-check' %>
                <%= b.label class: 'form-check-label control-label', style: "border-bottom: 2px solid #{b.object.color}" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

