<div class="row page-title-row">
  <div class="col">
    <h1>Access Profiles List</h1>
  </div>
  <div class="col-auto">
    <div class="d-table h-100">
      <div class="d-table-cell align-middle">
        <%= link_to 'Create New', :new_cms_access_profile, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <%= form_tag :cms_access_profiles, method: :get, class: 'form-horizontal' do |form| %>
      <div class="card-body">
        <%= text_field_tag :k, params[:k], class: 'form-control', placeholder: 'Search by Name' %>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" type="submit" data-disable-with="<%= t('basic.forms.searching') %>"><%= t('basic.forms.submit_search') %></button>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if !@access_profiles.blank? && @access_profiles.length > 0 -%>
    <table class="table table-responsive-sm table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @access_profiles.each do |access_profile| -%>
        <tr>
          <td><%= access_profile.id %></td>
          <td><%= link_to access_profile.name, edit_access_profile_path(access_profile) %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= will_paginate(@access_profiles) %>
    </div>
    <% else -%>
    <div class="alert alert-info" role="alert">No Access Profiles found.</div>
    <% end -%>
  </div>
</div>
