<div class="row">
  <div class="col-md-12">
    <h1 class="page-title">Crear Usuario</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <%= form_for @user, url: :cms_users do |form| %>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Nombre</label>
              <%= form.text_field :first_name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Apellido</label>
              <%= form.text_field :last_name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Email</label>
              <%= form.text_field :email, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Contraseña</label>
              <%= form.password_field :password, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Avatar</label>
              <%= form.file_field :avatar, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Perfil de Acceso</label>
              <%= form.select :access_profile_id, options_for_select(AccessProfile.dropdown_menu_options, selected: @user.access_profile_id, disabled: AccessProfile.deleted.collect(&:id)), { include_blank: true }, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-primary" type="submit" data-disable-with="<%= t('basic.forms.creating') %>"><%= t('basic.forms.submit_create') %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>
