<div class="row">
  <div class="col-md-12">
    <h1 class="page-title">Crear Frase</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <%= form_for @phrase, url: :cms_phrases do |form| %>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Frase</label>
              <%= form.text_area :phrase, class: 'form-control', rows: 8 %>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Categoría</label>
              <%= form.select :category_id, options_for_select(Category.all.collect { |ap| [ap.name, ap.id] }, selected: @phrase.category_id, disabled: Category.deleted.collect(&:id)), { include_blank: true }, class: 'form-control' %>
            </div>
          </div>
        </div>        
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-primary" type="submit" data-disable-with="<%= t('basic.forms.creating') %>"><%= t('basic.forms.submit_create') %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>
