<div class="row">
  <div class="col-md-12">
    <h1 class="page-title">Crear Categoría</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <%= form_for @category, url: :cms_categories do |form| %>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Nombre</label>
              <%= form.text_field :name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Descripción</label>
              <%= form.text_area :description, class: 'form-control', rows: 8 %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-primary" type="submit" data-disable-with="<%= t('basic.forms.creating') %>"><%= t('basic.forms.submit_create') %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>
