<div class="container">
  <div class="row justify-content-center align-items-center h-100 login-screen">
    <div class="col-md-4">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1 class="text-center"><%= image_tag('cms/logo.png') %></h1>
            <p class="text-muted">Ingrese sus credenciales</p>
            <%= cms_render_flash_messages %>
            <%= form_for :user_auth, url: :cms_sessions_login, html: { role: 'form' } do |form| %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <%= text_field_tag 'user_auth[email]', @user_auth.email, class: 'form-control', placeholder: 'E-mail' %>
              <%= cms_show_errors_for(@user_auth, :email) %>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
              </div>
              <%= password_field_tag 'user_auth[password]', '', class: 'form-control', placeholder: 'Contraseña' %>
              <%= cms_show_errors_for(@user_auth, :password) %>
            </div>
            <div class="row">
              <div class="col-6 offset-3">
                <button type="submit" class="btn btn-primary px-4">Iniciar Sesión</button>
              </div>
            </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
