<div class="container">
  <div class="row justify-content-center align-items-center h-100 login-screen">
    <div class="col-md-5">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1 class="text-center"><%= image_tag('cms/logo.png') %></h1>
            <% if @secure_user -%>
              <% if @secure_user.secure_hash_expired? %>
              <div class="text-center">
                <h3>Su enlace ha expirado</h3>
                <p>Los enlaces de recuperación de contraseña caducan después de 24 horas y solo se pueden usar una vez</p>
              </div>
              <% else -%>
                <h3 class="text-center">¡Excelente! Ahora puedes cambiar tu contraseña.</h3>
                <%= form_for @user, url: cms_sessions_change_password_path do |form| %>
                <%= hidden_field_tag :secure_hash, @secure_user.secure_hash %>
                <p><h5 class="text-center"><%= @user.email %></h5></p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <%= password_field_tag 'user[password]', '', class: 'form-control', placeholder: 'Nueva contraseña' %>
                  <%= cms_show_errors_for(@user, :password) %>
                </div>                
                <div class="row">
                  <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary px-4">Cambiar</button>
                  </div>
                </div>
                <% end %>
              <% end %>
            <% else -%>
            <div class="text-center">
              <h3>Oooops!</h3>
              <p>No pudimos encontrar el usuario que estás buscando. Verifique su enlace e intente nuevamente.</p>
            </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
