<div class="row">
  <div class="col-md-12">
    <h1 class="page-title">Perfil</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="form-horizontal">
      <div class="card-header">Datos</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">ID</label>
              <p class="form-control-static"><%= @user.id %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Nombre</label>
               <p class="form-control-static"><%= @user.first_name %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Apellido</label>
               <p class="form-control-static"><%= @user.last_name %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Email</label>
               <p class="form-control-static"><%= @user.email %></p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Avatar</div>
      <div class="card-body text-center">
        <%= show_avatar(@user) %>
      </div>
    </div>
  </div>
</div>