<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= cms_page_title_tag %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'cms', media: 'all' %>
  <%= yield :extra_top_page %>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <%= show_avatar(@current_user, true) %>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to :cms_me_show, class: 'dropdown-item' do %>
            <i class="fas fa-user"></i> Mi Perfil
          <% end %>
          <div class="divider"></div>
          <%= link_to :cms_sessions_logout, class: 'dropdown-item' do %>
            <i class="fas fa-lock"></i> Cerrar Sesión
          <% end %>
        </div>
      </li>
    </ul>
  </header>

  <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <% cms_build_sidemenu do |menu| -%>
            <% if menu[:submenu].blank? -%>
            <li class="nav-item<%= ' open' if menu[:active] %>">
              <%= link_to menu[:url], class: 'nav-link' do %>
                <i class="fas fa-<%= menu[:icon] %>"></i> <%= menu[:label] %>
              <% end %>
            </li>
            <% else -%>
            <li class="nav-item nav-dropdown<%= ' open' if menu[:active] %>">
              <%= link_to '#', class: 'nav-link nav-dropdown-toggle' do %>
                <i class="fas fa-<%= menu[:icon] %>"></i> <%= menu[:label] %>
              <% end %>
              <ul class="nav-dropdown-items">
                <% for submenu in menu[:submenu] -%>
                <li class="nav-item">
                  <%= link_to submenu[:label], submenu[:url], class: 'nav-link' %>
                </li>
                <% end -%>
              </ul>
            </li>
            <% end -%>
          <% end -%>
        </ul>
      </nav>
    </div>

    <main class="main">
      <%= cms_render_breadcrumbs %>
      <div class="container-fluid">
        <div class="animated fadeIn pt-3">
          <%= cms_render_flash_messages %>
          <%= yield %>
        </div>
      </div>
    </main>
    <div class="modal fade" id="cms_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
  <footer class="app-footer">
    <span><a href="https://www.frases480.com">Frases 480</a> © <%= Time.current.year %></span>
    <span class="ml-auto">By <a href="https://www.rodrigopaszniuk.com">Rodrigo Paszniuk</a></span>
  </footer>
  <%= javascript_include_tag 'cms' %>
  <%= yield :extra_bottom_page %>
</body>
</html>
