<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= cms_page_title_tag %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>    
  <%= stylesheet_link_tag 'cms', media: 'all' %>
  <%#= stylesheet_pack_tag 'cms' %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag 'cms' %>
  <%#= javascript_pack_tag 'cms' %>
</body>
</html>
