<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msvalidate.01" content="3702E174F9FC24E8A789A7AE21376A65" />
  <title><%= web_page_title_tag %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= web_render_page_metas %>
  <%= stylesheet_pack_tag 'web' %>
  <link rel="alternate" type="application/rss+xml" title="Frases 480 RSS Feed" href="<%= web_main_feed_url %>">
  <%= yield :extra_top_page -%>
</head>
<body <%= yield :extra_body_attr -%>>
  <!-- Header -->
  <header role="header" id="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><%= link_to(image_pack_tag("logo.png", :alt => "logo", :title => "Inicio", :align=>"center", :class=>"img-responsive"), "/") %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/acerca">Acerca de</a>
            </li>      
          </ul>
          <form class="form-inline my-2 my-lg-0" method="get" id="searchform" action="/search/phrases/">
            <input name="q" id="q" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar" value="<%= params[:q]%>" required>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
    </div>
    </nav>
  </header>
  <!-- Main -->
  <main role="main" class="container" id="main">
    <%= yield %>
    <%= yield :extra_bottom_page %>
  </main>
  <!-- Footer -->
  <footer class="bg-dark py-5 mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p class="text-muted mt-4">
            ¿Te gustaría ser colaborador de Frases 480? <a href="https://cms.frases480.com" rel="external">Ir al CMS</a>
          </p>
        </div>
        <div class="col-lg-3 mt-3 mt-lg-0">
          <h5 class="text-light">Links</h5>
          <ul class="list-unstyled ps-0 mb-0 mt-3">
            <li class="mt-2"><%= link_to 'Terms of Use', :web_main_terms_of_use, class: 'text-muted' %></li>
            <li class="mt-2"><%= link_to 'Privacy Policy', :web_main_privacy_policy, class: 'text-muted' %></li>
            <li class="mt-2"><%= link_to 'Cookie Policy', :web_main_cookie_policy, class: 'text-muted' %></li>
            <li class="mt-2"><%= link_to 'Disclaimer', :web_main_disclaimer, class: 'text-muted' %></li>
          </ul>
        </div>
        <div class="col-lg-3 mt-3 mt-lg-0">
          <h5 class="text-light">Apps</h5>
          <ul class="list-unstyled ps-0 mb-0 mt-3">
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.frases480">
                <img alt="Android app on Google Play"
                src="https://developer.android.com/images/brand/es-419_app_rgb_wo_45.png" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="mt-5">
            <p class="text-muted mt-4 text-center mb-0">© <%= Date.today.year%> Frases 480 - frases480.com</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->  
  <%= javascript_pack_tag 'web' %>
   <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-541c5291346b41da"></script>
  <script type="text/javascript">
    var addthis_share = {
       // ... other options
       url_transforms : {
        shorten: {
         twitter: 'bitly'
       }
     }, 
     shorteners : {
      bitly : {} 
    }
  }
  </script>
  <!-- Facebook Script -->
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=1478862575699388&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <!-- Twitter Script -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <!-- MailerLite Universal -->
  <script>
  (function(m,a,i,l,e,r){m['MailerLiteObject']=e;function f(){
  var c={a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
  f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
  var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?'+(~~(new Date().getTime()/10000000));
  _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

  var ml_account = ml('accounts', '638327', 'v9y9p4w1s8', 'load');
  </script>
  <!-- Termly 
  <script
  type="text/javascript"
  src="https://app.termly.io/embed.min.js"
  data-auto-block="on"
  data-website-uuid="7943731c-cb92-44f2-b4fe-a1578f4d2e54"
  ></script>
  -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3VZK0GVZ6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M3VZK0GVZ6');
  </script>
</body>
</html>
